.products {
    &__producer-item {
        height: 90px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0.2s;
        &:hover {
            border: 1px solid transparent;
            transition: 0.2s;
        }
    }
}

.aux {
    background-image: url(../source/produsers/auxairconditioner.png);
}

.daikin {
    background-image: url(../source/produsers/daikin.png);
}

.mitsubishi {
    background-image: url(../source/produsers/mitsubishi.png);
}

.gree {
    background-image: url(../source/produsers/Gree.png);
}

.alecord {
    background-image: url(../source/produsers/alecord.png);
}

.dantex {
    background-image: url(../source/produsers/dantex.png);
}

.condic_item-wrapper {
    padding: 10px;
    margin-bottom: 50px;
}

.condic_item {
    padding: 20px;
    box-shadow: 0px 10px 46px -10px rgba(0,0,0,1);
    transition: 0.5s;
    &:hover {
        transform: scale(1.1, 1.1);
        cursor: pointer;
    }
    & h3 {
        font-size: 20px;
    }
    & h4 {
        font-size: 15px;
    }
    & img {
        display: block;
        padding: 5px;
        margin: 20px auto;
        width: 90%;
        min-height: 140px; //придумать что то с этим
    }
    & span {
        display: block;
    }
}
